@import url('https://fonts.googleapis.com/css?family=Eater');
.add-new {
    margin: 5px;
    background: #6A5D4F;
    height: 35px;
    float: right;
    text-align: center;
    font-size: 15px;
    line-height: 5px;
    padding: 10px;
    margin-top: 5px;
    color: black;
    border-radius: 22px;
    font-family: 'Eater', cursive;
    border: #f1f1f1 solid 4px;
    font-size: 9000;
    box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

.add-new:hover {
    background: #f1f1f1;
    color: black;
    border: #6A5D4F solid 4px;
}

@media screen and (max-width: 500px) {
    .add-new {
        float: none;
        position: absolute;
        left: 5px;
    }
}