/**header css**/

::-webkit-scrollbar {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Eater');

/*container*/

main {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh);
    width: 100vw;
    flex-wrap: wrap;
    overflow: scroll;
}

section {
    margin: 30px;
    background-color: rgb(10, 7, 3);
    border-radius: 10px;
    /* padding: 5px; */
    border-radius: 50%;
    border: 5px solid silver;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.playlist {
    position: relative;
    height: 39vh;
    width: 39vh;
    z-index: 0;
    margin-top: 50px;
}

.playlist h4 {
    position: absolute;
    left: 50%;
    top: -12.5%;
    text-align: center;
    font-family: 'Eater', cursive;
    color: rgb(131, 131, 131);
    text-shadow: 2px 2px 2px rgb(218, 124, 124);
    z-index: 1;
}

.playlist img {
    position: absolute;
    height: 30vh;
    width: 30vh;
    left: 10.5%;
    top: 10.5%;
    border-radius: 50%;
    animation-name: out;
    animation-duration: 4000ms;
    animation-direction: alternate;
    z-index: 2;
}

.playlist img:hover {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes out {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}


/**triggered by active song**/

.song-playing-now::before {
    content: "▶ ";
}

.song-playing-now {
    font-weight: 900;
}